<?xml version="1.0" encoding="UTF-8"?>

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task  
http://www.springframework.org/schema/task/spring-task.xsd"
    >
    
    <bean id="schedulerFactoryBean" class="at.ac.meduniwien.ophthalmology.libreclinica.job.OpenClinicaSchedulerFactoryBean" 
            depends-on="liquibase" destroy-method="destroy">
        <property name="schedulerName" value="public"/>
        <property name="autoStartup" value="true"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="transactionManager" ref="transactionManager"/>
        <property name="quartzProperties">
        	<props>
        		<prop key="org.quartz.jobStore.misfireThreshold">s[org.quartz.jobStore.misfireThreshold]</prop>
				<!-- Do NOT set org.quartz.jobStore.class explicitly. When dataSource
				     (the <property name="dataSource"/> above) is also set, Spring's
				     SchedulerFactoryBean.createScheduler() needs to install its own
				     LocalDataSourceJobStore wired to the registered DBConnectionManager
				     name. Setting jobStore.class via Quartz properties bypasses
				     Spring's wiring (Quartz instantiates a fresh, un-wired JobStore)
				     and yields the runtime error: "DataSource name not set" at app
				     startup. See compose smoke test failure 2026-05-28. -->
				<prop key="org.quartz.jobStore.driverDelegateClass">s[org.quartz.jobStore.driverDelegateClass]</prop>
				<prop key="org.quartz.jobStore.useProperties">s[org.quartz.jobStore.useProperties]</prop>
        		<prop key="org.quartz.jobStore.tablePrefix">s[org.quartz.jobStore.tablePrefix]</prop>
        		<prop key="org.quartz.threadPool.class">org.quartz.simpl.SimpleThreadPool</prop>
				<prop key="org.quartz.threadPool.threadCount">s[org.quartz.threadPool.threadCount]</prop>
				<prop key="org.quartz.threadPool.threadPriority">s[org.quartz.threadPool.threadPriority]</prop>
        	</props>
        </property>
        
        <property name="applicationContextSchedulerContextKey" value="applicationContext"/>
        
        <property name="globalJobListeners">
            <list>
                <bean class="at.ac.meduniwien.ophthalmology.libreclinica.job.JobExecutionExceptionListener"/>
            </list>
        </property>
        <property name="globalTriggerListeners">
            <list>
                <bean class="at.ac.meduniwien.ophthalmology.libreclinica.job.JobTriggerListener"/>
            </list>
        </property>
    </bean>

</beans>
